<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Activity_Interaction_Coefficient_Calculator_UEM2_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Activity_Interaction_Coefficient_Calculator_UEM2_.Properties.Settings>
            <setting name="设置" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Activity_Interaction_Coefficient_Calculator_UEM2_.Properties.Settings>
    </userSettings>
</configuration>